<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of equations</title>
</head>
<body>
    <div class="mt-4">
        <a class="btn button_default text-white" th:href="@{/createEquation}">Add new equation</a>
    </div>
    <form method="get" th:object="${filter}" th:action="@{/filterEquationsByRootValue}">
        <div class="row mb-2">
            <div class="col-md-2 col-sm-6 col-12 mb-2">
                <h4>Search by root value</h4>
                <input type="text" placeholder="Enter root" th:field="${filter.rootValue}" class="form-control"/>
            </div>
            <div class="col-12 col-sm-12 col-md-1 mb-2">
                <input type="submit" value="Submit" class="btn button_default form-control"/>
            </div>
        </div>
    </form>
    <form method="get" th:object="${filter}" th:action="@{/filterEquationsByRootAmount}">
        <div class="row mb-2">
            <div class="col-md-2 col-sm-6 col-12 mb-2">
                <h4>Search by root amount</h4>
                <input type="text" placeholder="Enter number of roots" th:field="${filter.rootAmount}" class="form-control"/>
            </div>
            <div class="col-12 col-sm-12 col-md-1 mb-2">
                <input type="submit" value="Submit" class="btn button_default form-control"/>
            </div>
        </div>
    </form>
    <hr/>
    <h3>List of Equations</h3>
    <div class="main-content">
        <div th:each="equation : ${equations}">
            <p th:text="${equation.expression}"></p>
            <a class="btn btn-success" th:href="@{/addRoot(id=${equation.getId()})}">Solve equation</a>
        </div>
    </div>
</body>
</html>