<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Root</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<div class="card mb-4 ms-5 me-5">
    <h3>Enter root for the following equation:</h3>
    <p th:text="${equation.expression}"></p>
    <form class="form-control" method="post" th:action="@{/saveRoot}" th:object="${root}">
        <div class="mb-3 mt-3">
            <label class="form-label">Root value:</label>
            <input type="number" placeholder="Enter root (digits only!)" class="form-control" th:field="*{value}" autofocus="autofocus">
            <input type="hidden" class="form-control" th:field="*{equationId}">
        </div>
        <button type="submit" class="btn button_default">Save</button>
    </form>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery-validator.js}"></script>
</body>
</html>